name: SLSA Generic Provenance

on:
  release:
    types: [created]
  workflow_dispatch:

permissions: read-all

jobs:
  hash:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Build
        run: |
          CGO_ENABLED=0 go build -trimpath -o bilibili-stream-example ./cmd/example
      - name: Generate hashes
        id: hash
        run: |
          sha256sum bilibili-stream-example > checksums.txt
          echo "hashes=$(cat checksums.txt | base64 -w0)" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v4
        with:
          name: bilibili-stream-example
          path: bilibili-stream-example

  provenance:
    needs: [hash]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.hash.outputs.hashes }}"
      upload-assets: true
